{% extends 'core/base.html' %}
{%  load static %}


{% block content %}
<!-- Start Main Slider -->
<section class="main-slider style1">
    <div class="slider-box">
        <!-- Banner Carousel -->
        <div class="banner-carousel owl-theme owl-carousel">
            <!-- Slide -->
            <div class="slide">
                <div class="image-layer" style="background-image:url('{% static 'assets/images/slides/slide-v1-1.jpg' %}')"></div>
                <div class="auto-container">
                    <div class="content">
                        <h3>Welcome to Bulux Furniture, Home Finishing & Painting</h3>
                        <div class="big-title">
                            <h2>The Best Quality<br> Finishing Touch For<br> Your Home.</h2>
                        </div>
                        <div class="btns-box">
                            <a class="btn-one style2" href="#"><span class="txt">Discover More</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide -->
            <div class="slide">
                <div class="image-layer" style="background-image:url('{% static 'assets/images/slides/slide-v1-2.jpg' %}')"></div>
                <div class="auto-container">
                    <div class="content">
                        <h3>Welcome to Bulux Furniture, Home Finishing & Painting</h3>
                        <div class="big-title">
                            <h2>The Best Quality<br> Finishing Touch For<br> Your Home.</h2>
                        </div>
                        <div class="btns-box">
                            <a class="btn-one style2" href="#"><span class="txt">Discover More</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide -->
            <div class="slide">
                <div class="image-layer" style="background-image:url('{% static 'assets/images/slides/slide-v1-3.jpg' %}')"></div> 
                <div class="auto-container">
                    <div class="content">
                        <h3>Welcome to Bulux Furniture, Home Finishing & Painting</h3>
                        <div class="big-title">
                            <h2>The Best Quality<br> Finishing Touch For<br> Your Home.</h2>
                        </div>
                        <div class="btns-box">
                            <a class="btn-one style2" href="#"><span class="txt">Discover More</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Main Slider -->


<!--Start About Style1 Area-->
<section class="about-style1-area">
    <div class="shape1 wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms">
        <img src="{% static 'assets/images/shape/shape-1.png' %}" alt="">
    </div>
    <div class="shape2 wow slideInLeft" data-wow-delay="100ms" data-wow-duration="3500ms">
        <img src="{% static 'assets/images/shape/shape-2.png' %}" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-style1-content-box">
                    <div class="sec-title">
                        <div class="sub-title">
                            <h3>About Bulux</h3>
                        </div>
                        <h2>We’re Leader's in Interior<br> Design Market</h2>
                    </div> 
                    <div class="inner-content">
                        <div class="text">
                            <p>Crafting spaces that inspire. Our furniture, interior design, painting, and flooring solutions blend creativity and quality to transform houses into homes. With a passion for aesthetics and functionality, we elevate every corner, creating environments that resonate with style and comfort.</p>
                        </div>
                        <ul>
                            <li><span class="flaticon-tick"></span>We’re professional and certified designers</li>
                            <li><span class="flaticon-tick"></span>We use quality material to make your space awesome</li>
                            <li><span class="flaticon-tick"></span>We care about our customers satisfaction</li>
                        </ul>
                        <div class="bottom-box">
                            <div class="icon">
                                <span class="flaticon-armchair"></span>    
                            </div>
                            <div class="title">
                                <h3>We have years of experience to give you best quality of results.</h3>
                            </div>
                        </div>
                    </div>   
                </div>    
            </div>
            <div class="col-xl-6">
                <div class="about-style1-image-box">
                    <div class="shape3">
                        <img src="{% static 'assets/images/shape/shape-3.png' %}" alt="">
                    </div>
                    <div class="main-image">
                        <img src="{% static 'assets/images/about/about-1.png' %}" alt="Awesome Image"> 
                        <div class="icon-box thm-bgclr paroller-2">
                            <span class="flaticon-wallpaper"></span>
                            <h3>BULUX Founded<br> in 2000's</h3>
                        </div>
                    </div> 
                </div>
            </div>
            
        </div>
    </div>
</section>
<!--End About Style1 Area-->

<!--Start Featured Style1 Area-->
<section class="featured-style1-area">
    <div class="container">
        <div class="row">
            <!-- Start Single-Featurd-Style1-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-featured-style1 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <img src="{% static 'assets/images/resources/featured-1.jpg' %}" alt="">
                        <div class="title">
                            <h3><a href="#">Best Quality<br> Standards</a></h3>
                        </div>
                    </div>    
                </div>
            </div>
            <!--End Single-Featurd-Style1-->
            <!-- Start Single-Featurd-Style1-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-featured-style1 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <img src="{% static 'assets/images/resources/smart.jpg' %}" alt="">
                        <div class="title">
                            <h3><a href="#">Smart & Unique<br>Wall Work</a></h3>
                        </div>
                    </div>    
                </div>
            </div>
            <!--End Single-Featurd-Style1-->
            <div class="col-xl-4 col-lg-4">
                <div class="free-estimate-box text-center" style="background-image: url('{% static 'assets/images/resources/free-estimate-box-bg.jpg' %}')">
                    <div class="icon-box"><span class="flaticon-alarm-clock"></span></div>
                    <h2>Timings</h2>
                    <ul>
                        <li>
                            <p>Mon</p>
                            <h3>8:00am - 6:00pm</h3>
                        </li>
                        <li>
                            <p>Fri to Sat</p>
                            <h3>9:00am - 5:00pm</h3>
                        </li>
                        <li>
                            <p>Sun</p>
                            <h3>Work Holiday</h3>
                        </li>
                    </ul>
                    <div class="buttom-box">
                        <a class="btn-one" href="{% url 'contact' %}"><span class="txt">Get a Free Estimate</span></a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!--End Featured Style1 Area-->

<!--Start Interior Design Area-->
<section class="interior-design-area" style="background-image: url('{% static 'assets/images/parallax-background/interior-design-area-bg.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="interior-design-content-box">
                    <div class="sec-title">
                        <div class="sub-title">
                            <h3>Best Interior Design</h3>
                        </div>
                        <h2>Quality Work That Meets<br> Your Expectations</h2>
                    </div>
                    <div class="interior-design-tab tabs-box">
                       
                        <div class="tab-button-column clearfix">
                            <ul class="tab-buttons clearfix">
                                <li data-tab="#team" class="tab-btn active-btn">Officials</li>
                                <li data-tab="#material" class="tab-btn">Quality Material</li>
                                <li data-tab="#work" class="tab-btn">Smart Work</li>
                            </ul>
                        </div>
                        
                        <div class="tabs-content">
                            <!--Tab-->
                            <div class="tab" id="material">
                                <div class="material-tab-content">
                                    <div class="row">
                                        <div class="col-xl-4">
                                            <div class="img-box">
                                                <img src="{% static 'assets/images/resources/material-1.png' %}" alt="">
                                            </div>    
                                        </div>
                                        <div class="col-xl-8">
                                            <div class="text-box">
                                                <p>"Designing spaces, creating comfort. From furniture to flooring, we bring beauty and functionality to every home.</p>
                                            </div>    
                                        </div>  
                                    </div>     
                                </div>
                            </div>
                            <!--Tab-->
                            <div class="tab active-tab" id="team">
                                <div class="team-tab-content">
                                    <div class="row">
                                        <!--Start Single Team Member-->
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="single-team-member text-center">
                                                <div class="img-holder">
                                                    <div class="inner">
                                                        <img src="{% static 'assets/images/team/boss.png' %}" alt="Awesome Image">
                                                        <div class="overlay-social-content">
                                                            <div class="team-social-link">
                                                                <ul>
                                                                    <li>
                                                                        <a class="fb" href="https://www.facebook.com/Netherlands.shell?mibextid=ZbWKwL"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
                                                                    </li>
                                                                    <li>
                                                                        <a class="in" href="https://www.instagram.com/debuluxgroup/"><i class="fa fa-instagram" aria-hidden="true"></i></a> 
                                                                    </li>
                                                                    <li>
                                                                        <a class="tik" href="https://www.tiktok.com/@buluxpaints77?_t=8i9n9VyXGTd&_r=1"><i class="fab fa-tiktok" aria-hidden="true"></i></a> 
                                                                    </li>
                                                                </ul>
                                                            </div>     
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="title-holder">
                                                    <h3><a href="#">Chukwuebuka</a></h3>
                                                    <span>CEO/Founder</span>
                                                </div>
                                            </div>   
                                        </div>
                                        <!--End Single Team Member-->
                                        <!--Start Single Team Member-->
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="single-team-member text-center">
                                                <div class="img-holder">
                                                    <div class="inner">
                                                        <img src="{% static 'assets/images/team/engr.jpg' %}" alt="Awesome Image">
                                                    </div>
                                                </div>
                                                <div class="title-holder">
                                                    <h3><a href="#">TEAM</a></h3>
                                                    <span>Engineers</span>
                                                </div>
                                            </div>   
                                        </div>
                                        <!--End Single Team Member-->
                                    </div>
                                </div>      
                            </div>
                            <!--Tab-->
                            <div class="tab" id="work">
                                <div class="work-tab-content">
                                    <div class="row">
                                        <!--Start Single Project Style1-->
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="single-project-style1">
                                                <div class="img-holder">
                                                    <img src="{% static 'assets/images/project/project-v3-1.jpg' %}" alt="Awesome Image">
                                                    <div class="overlay-content">
                                                        <div class="inner">
                                                            <h3><a href="#">BULUX<br> Home Design</a></h3>
                                                            <div class="readmore-button">
                                                                <a href="#"><span class="flaticon-up-arrow"></span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>    
                                            </div>
                                        </div>
                                        <!--End Single Project Style1-->
                                        <!--Start Single Project Style1-->
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="single-project-style1">
                                                <div class="img-holder">
                                                    <img src="assets/images/project/project-v3-2.jpg" alt="Awesome Image">
                                                    <div class="overlay-content">
                                                        <div class="inner">
                                                            <h3><a href="#">BULUX<br> Wall Design</a></h3>
                                                            <div class="readmore-button">
                                                                <a href="#"><span class="flaticon-up-arrow"></span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>    
                                            </div>
                                        </div>
                                        <!--End Single Project Style1-->  
                                        
                                    </div>     
                                </div>      
                            </div>
                            
                        </div>
                        
                    </div>
                </div>    
            </div>
            
            <div class="col-xl-5">
                <div class="interior-design-right-content">
                    <ul>
                        <li>
                            <div class="design-single-block">
                                <div class="icon thm-clr">
                                    <span class="flaticon-wallpaper-1"></span>
                                </div>
                                <div class="text">
                                    <h3>Innovative Wall Designs</h3>
                                    <p>Designs that reflect your lifestyle</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="design-single-block">
                                <div class="icon thm-clr">
                                    <span class="flaticon-wallpaper-2"></span>
                                </div>
                                <div class="text">
                                    <h3>High Quality Wall Material</h3>
                                    <p>Quality is what we preach.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>    
            </div>
            
        </div>
    </div>    
</section>
<!--End Interior Design Area-->

<!--Start Project Style1 Area-->
<section class="project-style1-area">
    <div class="recent-project-title thm-bgclr text-center paroller-2"><h2>Our Recent Projects</h2></div>
    <div class="auto-container-box">
        <ul class="project-style1-content">
            <li>
                <!--Start Single Project Style1-->
                <div class="single-project-style1 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <img src="{% static 'assets/images/project/project1.jpg' %}" alt="Awesome Image">
                        <div class="overlay-content">
                            <div class="inner">
                                <h3><a href="#">BULUX<br> Home Design</a></h3>
                                <div class="readmore-button">
                                    <a href="{% url 'interior' %}"><span class="flaticon-up-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <!--End Single Project Style1-->
            </li>
            <li>
                <!--Start Single Project Style1-->
                <div class="single-project-style1 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <img src="{% static 'assets/images/project/floor.jpg' %}" alt="Awesome Image">
                        <div class="overlay-content">
                            <div class="inner">
                                <h3><a href="#">BULUX<br> Floor Design</a></h3>
                                <div class="readmore-button">
                                    <a href="{% url 'floor' %}"><span class="flaticon-up-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <!--End Single Project Style1-->
            </li>
            <li>
                <!--Start Single Project Style1-->
                <div class="single-project-style1 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <img src="{% static 'assets/images/project/space.jpg' %}" alt="Awesome Image">
                        <div class="overlay-content">
                            <div class="inner">
                                <h3><a href="#">BULUX<br> POP Design</a></h3>
                                <div class="readmore-button">
                                    <a href="{% url 'pop' %}"><span class="flaticon-up-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <!--End Single Project Style1-->
            </li>
            <li>
                <!--Start Single Project Style1-->
                <div class="single-project-style1 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <img src="{% static 'assets/images/project/project-v1-4.jpg' %}" alt="Awesome Image">
                        <div class="overlay-content">
                            <div class="inner">
                                <h3><a href="#">BULUX<br> Interior Design</a></h3>
                                <div class="readmore-button">
                                    <a href="{% url 'interior' %}"><span class="flaticon-up-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <!--End Single Project Style1-->
            </li>
            <li>
                <!--Start Single Project Style1-->
                <div class="single-project-style1 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <img src="{% static 'assets/images/project/wall.jpg' %}" alt="Awesome Image">
                        <div class="overlay-content">
                            <div class="inner">
                                <h3><a href="#">BULUX<br> Wall Design</a></h3>
                                <div class="readmore-button">
                                    <a href="design"><span class="flaticon-up-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <!--End Single Project Style1-->
            </li>
        </ul>    
    </div>    
</section>
<!--End Project Style1 Area-->

<!-- Start Service Style1 Area -->
<section class="service-style1-area">
    <div class="top-gray-bg wow slideInDown" data-wow-delay="100ms" data-wow-duration="2500ms"></div>
    <div class="container">
        <div class="sec-title text-center">
            <div class="sub-title">
                <h3>Our Services List</h3>
            </div>
            <h2>Services We’re Providing</h2>
        </div>
        <div class="row">
            <!--Start Single Service Style1-->
            <div class="col-xl-4 col-lg-4 col-md-12 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="single-service-style1 text-center">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="{% static 'assets/images/services/home.jpg' %}" alt="">
                        </div>
                    </div> 
                    <div class="text-holder">
                        <div class="inner-text">
                            <h3><a href="#">Home Design</a></h3>
                            <p>Bringing dreams to life through thoughtful home design that reflect individual style.</p>
                            <div class="readmore-button">
                                <a href="#{% url 'interior' %}"><span class="flaticon-up-arrow"></span></a>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
            <!--End Single Service Style1-->
            <!--Start Single Service Style1-->
            <div class="col-xl-4 col-lg-4 col-md-12 wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                <div class="single-service-style1 text-center">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="{% static 'assets/images/services/pop.jpg' %}" alt="">
                        </div>
                    </div> 
                    <div class="text-holder">
                        <div class="inner-text">
                            <h3><a href="#">POP Installation</a></h3>
                            <p>Transforming spaces with captivating POP installations.</p>
                            <div class="readmore-button">
                                <a href="{% url 'pop' %}"><span class="flaticon-up-arrow"></span></a>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
            <!--End Single Service Style1-->
            <!--Start Single Service Style1-->
            <div class="col-xl-4 col-lg-4 col-md-12 wow fadeInLeft" data-wow-delay="500ms" data-wow-duration="1500ms">
                <div class="single-service-style1 text-center">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="{% static 'assets/images/services/furniture.jpg' %}" alt="">
                        </div>
                    </div> 
                    <div class="text-holder">
                        <div class="inner-text">
                            <h3><a href="#">Interior & Furniture</a></h3>
                            <p>Crafting furniture that resonates with style and quality. Every piece is designed for comfort.</p>
                            <div class="readmore-button">
                                <a href="{% url 'interior' %}"><span class="flaticon-up-arrow"></span></a>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
            <!--End Single Service Style1-->
        </div>
    </div>
</section>
<!-- End Service Style1 Area -->

<!--Start Booking Area-->
<section class="booking-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-4">
                <div class="booking-number-box">
                    <div class="icon thm-clr">
                        <span class="flaticon-time-management"></span>
                    </div>
                    <div class="title">
                        <p>Book Your Schedule</p>
                        <h2><a href="tel:+2347065366618">+234706 536 6618</a></h2>
                    </div>
                </div>    
            </div>
            <div class="col-xl-7 col-lg-8">
                <div class="booking-content-box">
                    <div class="buttom-box">
                        <a class="btn-one" href="{% url 'contact' %}"><span class="txt">Get a Free Estimate</span></a>
                    </div>
                </div>    
            </div>
        </div>
    </div>    
</section>
<!--End Booking Area-->

<!--Start Testimonial style1 Area -->
<section class="testimonial-style1-area">
    <div class="layer-outer" style="background-image: url('{% static 'assets/images/pattern/testimonial-style1-pattern.png' %}')"></div>
    <div class="container">
        <div class="row"> 
            <div class="col-xl-6 col-lg-12">
                <div class="testimonial-style1-content">
                    <div class="sec-title">
                        <div class="sub-title">
                            <h3>Client Testimonials</h3>
                        </div>
                        <h2>What They’re Saying<br> About Our Work</h2>
                    </div>
                    <div class="testimonial-carousel-rtl owl-carousel owl-theme">
                        <!--Start Single Testimonial Style1-->
                        <div class="single-testimonial-style1">
                            <div class="text-holder">
                                <div class="text-box">
                                    <p>I'm really impressed</p>
                                </div>
                                <div class="client-info">
                                    <div class="title-box">
                                        <h3>Jessica Brown</h3>
                                    </div>
                                </div>    

                            </div>
                        </div>
                        <!--End Single Testimonial Style1-->
                        <!--Start Single Testimonial Style1-->
                        <div class="single-testimonial-style1">
                            <div class="text-holder">
                                <div class="text-box">
                                    <p>Best decision i ever made is contracting Bulux</p>
                                </div>
                                <div class="client-info">
                                    <div class="title-box">
                                        <h3>Fred Chike</h3>
                                    </div>
                                </div>    

                            </div>
                        </div>
                        <!--End Single Testimonial Style1-->


                    </div>
                 </div>
            </div>
            
            <div class="col-xl-6 col-lg-12">
                <div class="testimonial-style2-image-box clearfix wow" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="bg-box thm-bgclr"></div>
                    <img src="{% static 'assets/images/resources/feedback.jpg' %}" alt="">
                    <div class="title-box">Customer Feedbacks</div>    
                </div>    
            </div>
            
        </div>
    </div>
</section>
<!--End Testimonial Style1 Area-->

<!--Start Fact Counter Area-->
<section class="fact-counter-area">
    <div class="shape wow slideInLeft" data-wow-delay="100ms" data-wow-duration="3500ms">
        <img class="float-bob-y" src="{% static 'assets/images/shape/shape-4.png' %}" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="fact-counter">
                    <div class="fact-counter-pattern" style="background-image: url('{% static 'assets/images/pattern/fact-counter-area-bg.png' %}')"></div>
                    <ul class="fact-counter-box clearfix">
                        <!--Start Single Fact Counter-->
                        <li class="single-fact-counter wow fadeInUp text-center" data-wow-delay="100ms" data-wow-duration="1500ms">
                            <div class="count-box">
                                <h2>
                                    <span class="timer" data-from="1" data-to="8705" data-speed="5000" data-refresh-interval="50">8705</span>
                                    <span class="icon"> 
                                        <i class="flaticon-plus"></i>
                                    </span>
                                </h2>
                                <div class="sub-title">
                                    <h5>Projects Completed</h5>    
                                </div>
                            </div>
                        </li>
                        <!--End Single Fact Counter-->
                        <!--Start Single Fact Counter-->
                        <li class="single-fact-counter wow fadeInUp text-center" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="count-box">
                                <h2>
                                    <span class="timer" data-from="1" data-to="487" data-speed="5000" data-refresh-interval="50">487</span>
                                    <span class="icon"> 
                                        <i class="flaticon-plus"></i>
                                    </span>
                                </h2>
                                <div class="sub-title">
                                    <h5>Active Clients</h5>
                                </div>
                            </div>
                        </li>
                        <!--End Single Fact Counter-->
                        <!--Start Single Fact Counter-->
                        <li class="single-fact-counter wow fadeInUp text-center" data-wow-delay="500ms" data-wow-duration="1500ms">
                            <div class="count-box">
                                <h2>
                                    <span class="timer" data-from="1" data-to="620" data-speed="5000" data-refresh-interval="50">620</span>
                                    <span class="icon"> 
                                        <i class="flaticon-plus"></i>
                                    </span>
                                </h2>
                                <div class="sub-title">
                                    <h5>In progress</h5>
                                </div>
                            </div>
                        </li>
                        <!--End Single Fact Counter-->
                        <!--Start Single Fact Counter-->
                        <li class="single-fact-counter wow fadeInUp text-center" data-wow-delay="700ms" data-wow-duration="1500ms">
                            <div class="count-box">
                                <h2>
                                    <span class="timer" data-from="1" data-to="9704" data-speed="5000" data-refresh-interval="50">9704</span>
                                    <span class="icon"> 
                                        <i class="flaticon-plus"></i>
                                    </span>
                                </h2>
                                <div class="sub-title">
                                    <h5>Happy Clients</h5>
                                </div>
                            </div>
                        </li>
                        <!--End Single Fact Counter-->
                    </ul>
                </div>
            </div>
        
        </div>
    </div>
</section>   
<!--End Fact Counter Area-->


<!--Start Discover Area--> 
<section class="discover-area" style="background-image: url('{% static 'assets/images/parallax-background/discover-area-bg.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="discover-content-box">
                    <h2>We Pay Attention to Every<br> Detail to Make your Home<br> Wall Stunning</h2>
                    <div class="buttom-box">
                        <a class="btn-one" href="#"><span class="txt">Discover More</span></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="discover-image-box">
                    <div class="image1" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
                        <img src="{% static 'assets/images/resources/home.jpg' %}" alt="">
                    </div>
                    <div class="image2 paroller-2">
                        <img src="{% static 'assets/images/resources/discover-2.jpg' %}" alt="">
                    </div>     
                </div>    
            </div>
        </div>
    </div>
</section> 
<!--End Discover Area-->  

{% endblock %}