{% extends 'core/base.html' %}
{%  load static %}
{% block content %}

<!--Start Project Style1 Area-->
<section class="project-style1-area">
    <div class="recent-project-title thm-bgclr text-center paroller-2"><h2>Our Recent Projects</h2></div>
    <div class="auto-container-box">
        <ul class="project-style1-content">
            <li>
                <!--Start Single Project Style1-->
                <div class="single-project-style1 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <img src="{% static 'assets/images/project/furni1.jpeg' %}" alt="Awesome Image">
                        <div class="overlay-content">
                            <div class="inner">
                                <h3><a href="#">BULUX<br> Home Design</a></h3>
                                <div class="readmore-button">
                                    <a href="#"><span class="flaticon-up-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <!--End Single Project Style1-->
            </li>
            <li>
                <!--Start Single Project Style1-->
                <div class="single-project-style1 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <img src="{% static 'assets/images/project/furni2.jpeg' %}" alt="Awesome Image">
                        <div class="overlay-content">
                            <div class="inner">
                                <h3><a href="#">BULUX<br> Interior Design</a></h3>
                                <div class="readmore-button">
                                    <a href="#"><span class="flaticon-up-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <!--End Single Project Style1-->
            </li>
            <li>
                <!--Start Single Project Style1-->
                <div class="single-project-style1 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <img src="{% static 'assets/images/project/furni3.jpeg' %}" alt="Awesome Image">
                        <div class="overlay-content">
                            <div class="inner">
                                <h3><a href="#">BULUX<br> Interior Design</a></h3>
                                <div class="readmore-button">
                                    <a href="#"><span class="flaticon-up-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <!--End Single Project Style1-->
            </li>
            <li>
                <!--Start Single Project Style1-->
                <div class="single-project-style1 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <img src="{% static 'assets/images/project/furni4.jpeg' %}" alt="Awesome Image">
                        <div class="overlay-content">
                            <div class="inner">
                                <h3><a href="#">BULUX<br> Interior Design</a></h3>
                                <div class="readmore-button">
                                    <a href="#"><span class="flaticon-up-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <!--End Single Project Style1-->
            </li>
            <li>
                <!--Start Single Project Style1-->
                <div class="single-project-style1 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <img src="{% static 'assets/images/project/furni5.jpeg' %}" alt="Awesome Image">
                        <div class="overlay-content">
                            <div class="inner">
                                <h3><a href="#">BULUX<br> Interior Design</a></h3>
                                <div class="readmore-button">
                                    <a href="#"><span class="flaticon-up-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <!--End Single Project Style1-->
            </li>
        </ul>    
    </div>    
</section>
<!--End Project Style1 Area-->
{% endblock %}