{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(assets/images/breadcrumb/breadcrumb-1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content clearfix">
                    <div class="breadcrumb-menu wow slideInDown animated" data-wow-delay="0.3s" data-wow-duration="1500ms">
                        <ul class="clearfix">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li class="active">Real Estate</li>
                        </ul>    
                    </div>
                    <div class="title wow slideInUp animated" data-wow-delay="0.3s" data-wow-duration="1500ms">
                       <h2>Real Estate</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<section class="project-style1-area">
    <div class="recent-project-title thm-bgclr text-center paroller-2"><h2>COMING SOON...</h2></div>
</section>
{% endblock %}
